<template name="links">
        <div class="w3-container w3-card-4 w3-white w3-margin w3-padding-large">
                <h2>Interessante Quellen</h2>
                <hr>
                <ul class="w3-ul w3-card-4" style="width: 100%">
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Hash Calculator</span><br>
                                        <span><a href="https://www.pelock.com/products/hash-calculator" target="_blank" class="w3-button w3-blue">https://www.pelock.com/products/hash-calculator</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Regenbogentabellen</span><br>
                                        <span><a href="http://project-rainbowcrack.com/table.htm" target="_blank" class="w3-button w3-blue">http://project-rainbowcrack.com/table.htm</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Reverse Hash Calulator</span><br>
                                        <span><a href="https://crackstation.net/" target="_blank" class="w3-button w3-blue">https://crackstation.net/</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Top Passwörter Listen</span><br>
                                        <span><a href="https://github.com/danielmiessler/SecLists/tree/master/Passwords/Common-Credentials" target="_blank" class="w3-button w3-blue">https://github.com/danielmiessler/SecLists/tree/master/Passwords/Common-Credentials</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Passwörter sicher übermitteln</span><br>
                                        <span><a href="https://onetimesecret.com" target="_blank" class="w3-button w3-blue">https://onetimesecret.com</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Default Passwörter</span><br>
                                        <span><a href="http://www.routerpasswords.com/" target="_blank" class="w3-button w3-blue">http://www.routerpasswords.com/</a></span>

                                </div>
                        </li>
                        <li class="w3-bar">
                                <i class="fa fa-external-link-alt fa-3x w3-bar-item w3-circle w3-hide-small"></i>
                                <div class="w3-bar-item">
                                        <span class="w3-large">Meine eMail gestohlen</span><br>
                                        <span><a href="https://haveibeenpwned.com/" target="_blank" class="w3-button w3-blue">https://haveibeenpwned.com/</a></span>

                                </div>
                        </li>

                </ul>
        </div>
</template>

