<template name="pepperandsalt">
        <div class="w3-container w3-card-4 w3-white w3-margin w3-padding-large">
                <h2>Pfeffer & Salz</h2>
                <div class="w3-row-padding">
                        <div class="w3-half">
                                <label>Pfeffer</label>
                                <input class="w3-input w3-border" type="text">
                        </div>
                        <div class="w3-half">
                                <label>Salz</label>
                                <input class="w3-input w3-border" type="text">
                        </div>
                </div>
        </div>
</template>