<template name="bruteforce">
    <div class="w3-row">
        <div class="w3-col s3 m3 l3 w3-center"><i id="stopwatch" class="fas fa-stopwatch fa-3x"></i></div>
        <div class="w3-col s4 m4 l4 w3-center">
            <p>{{values}}</p>
        </div>
        <div class="w3-col s4 m4 l4 w3-center">
            <p id="timer">0</p>
        </div>
    </div>
    <div class="w3-row">
            <div class="w3-col s3 m3 l3 w3-center"><i id="stopwatch" class="fas fa-stopwatch fa-3x"></i></div>
            <div class="w3-col s4 m4 l4 w3-center">
                <p>{{permutations}}</p>
            </div>
            <div class="w3-col s4 m4 l4 w3-center">
                <p>0</p>
            </div>
        </div>
</template>