<template name="bruteforce">
    <div class="w3-row">
        <div class="w3-col s3 m3 l3 w3-center"><i id="stopwatch" class="fas fa-stopwatch fa-3x"></i></div>
        <div class="w3-col s4 m4 l4 w3-center">
            <p id="timer">0</p>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-third">
            <label>Mögliche Zeichen</label>
            <input id="bfChar" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-third">
            <label>Kombinationen</label>
            <input id="bfComb" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-third">
            <label>Versuche</label>
            <input id="bfTry" class="w3-input w3-border" type="number" disabled value="0">
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-third">
            <p></p>
        </div>
        <div class="w3-third">
            <label>Zeit (Sekunden) für alle Möglichkeiten</label>
            <input id="bfTimeAll" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-third">
            <label>Zeit (Sekunden)</label>
            <input id="bfTime" class="w3-input w3-border" type="number" disabled value="0">
        </div>
    </div>

</template>