<template name="bruteforce">
    <div class="w3-row">
        <div class="w3-col s3 m3 l3 w3-center"><i id="stopwatch" class="fas fa-stopwatch fa-3x"></i></div>
        <div class="w3-col s4 m4 l4 w3-center">
            <p>{{values}}</p>
        </div>
        <div class="w3-col s4 m4 l4 w3-center">
            <p id="timer">0</p>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-quarter">
            <label>Mögliche Zeichen</label>
            <input id="xChar" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-quarter">
            <label>Kombinationen</label>
            <input id="xComb" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-quarter">
            <label>Versuche</label>
            <input id="xTry" class="w3-input w3-border" type="number" disabled value="0">
        </div>
        <div class="w3-quarter">
            <label>Zeit</label>
            <input id="xTime" class="w3-input w3-border" type="number" disabled value="0">
        </div>
    </div>

    <!--   <div class="w3-row">
            <div class="w3-col s3 m3 l3 w3-center"><i id="stopwatch" class="fas fa-stopwatch fa-3x"></i></div>
            <div class="w3-col s4 m4 l4 w3-center">
                <p>{{permutations}}</p>
            </div>
            <div class="w3-col s4 m4 l4 w3-center">
                <p>0</p>
            </div>
        </div> -->
</template>